@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Azeret Mono", monospace;
}
body{
    height: 1000rem;
}
/************** header **************/
header{
   width: 100%;
   background-color: #FFFFFF;
   height: 120px;
   display:flex;
   align-items: center;
   justify-content: center;
}
nav{
    width: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;

    flex-wrap: wrap;
}
nav > h1{
    font-size: 28px;
    font-weight:bolder;
}
.download_btn{
    font-family: "Azeret Mono", monospace;
    font-size: 20px ;
    color: #0D1321;
    padding: 17px 20px 17px 20px;
    border: 1px solid #0D1321;
    border-radius: 8px;
}
/************** header **************/
main{
    display: flex;
    justify-content: center;
    flex-direction: column;

   
}


.section_1{
    background-image: url(images/Hero-bg.png);
    width:100%;
    height: 652px;
}
.s1_content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 32px;  
    margin-top: 20px;
}
.s1_content > img{
    width: 240px;
    height: 240px;

}
.s1_content > h1{
    width: 998px;
  
    font-size: 48px;
    font-weight: bolder;
    color: #0D1321;
    line-height: 68px;
}
.s1_content > p{
    width: 852px;
    font-size: 16px;
    color: #0D1321;
    line-height: 26px;
}
.s1_content > button{
    background-color: #0D1321;
    color: #FFFFFF;
    padding: 21px 24px 21px 24px;
    border-radius: 8px;
    font-size: 20px;
}

/*++++++++++++++++++++++++++++++++++++++++++++++*/
.section_2{
    display: flex;
    justify-content: center;
}
.s2_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
    margin-top: 150px;
    width: 850px;
}
.s2_header_text{
    text-align: center;

}
.s2_header_text > h1{
    font-size: 32px;
    font-weight: bolder;
}
.s2_header_text > p{
    font-size: 16px;
    line-height: 26px;
    margin-top: 20px;
}
.s2_Containers{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 850px;
    justify-content: space-between;
    margin: 48px 0px 48px 0px;
}
.s2_sideText{
    width: 420px;
   
   
}
.s2_sideText > h2{
    font-size: 24px;
    line-height: 36px;
    color: #555963;
  
}
.s2_sideText > p{
    font-size: 16px;
    line-height: 26px;
    margin-top: 20px;
    color: #555963;
  
}
.s2_sideText > button{
    font-size: 20px;
    padding: 12px 20px 12px 20px;
    margin-top: 32px;
    color: #555963;
    border: 1px solid #555963;
}



.section_3{
    display: flex;
    justify-content: center;
}
.s3_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
    margin-top: 150px;
    width: 850px;
}
.s3_header_text{
    text-align: center;

}
.s3_header_text > h1{
    font-size: 32px;
    font-weight: bolder;
}
.s3_header_text > p{
    font-size: 16px;
    line-height: 26px;
    margin-top: 20px;
}



.section_4{
    display: flex;
    justify-content: center;
}
.s4_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
    margin-top: 150px;
}
.s4_header_text{
    text-align: center;
    width: 850px;

}
.s4_header_text > h1{
    font-size: 32px;
    font-weight: bolder;
}
.s4_header_text > p{
    font-size: 16px;
    line-height: 26px;
    margin-top: 20px;
}
.s4_Containers{
    display: flex;
    flex-direction: row;
    gap: 24px;

}
.s4_element{
    width: 284px;
    margin: 40px;
}
.s4_element > h1{
   font-size: 24px;
   font-weight: bolder;
   padding-top: 24px ;
}
.s4_element > p{
    font-size: 16px;
    padding-top: 24px;
    color: #555963;
}
.s4_element > button{
    font-size: 16px;
    font-weight: bolder;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
    border-bottom: 1px solid black;
    padding-top: 24px ;
}






