@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Azeret Mono", monospace;
}
/************** header **************/
header{
   width: 100%;
   background-color: #FFFFFF;
   height: 120px;
   display:flex;
   align-items: center;
   justify-content: center;
}
nav{
    width: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;

    flex-wrap: wrap;
}
nav > h1{
    font-size: 28px;
    font-weight:bolder;
}
.download_btn{
    font-family: "Azeret Mono", monospace;
    font-size: 20px ;
    color: #0D1321;
    padding: 17px 20px 17px 20px;
    border: 1px solid #0D1321;
    border-radius: 8px;
}
/************** header **************/
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
   
}
.section1{
    background-image: url(images/Hero-bg.png);
    width:100%;
    height: 652px;
}
.section2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 32px;  
    margin-top: 20px;
}
.section2 > img{
    width: 240px;
    height: 240px;

}
.section2 > h1{
    width: 998px;
  
    font-size: 48px;
    font-weight: bolder;
    color: #0D1321;
    line-height: 68px;
}
.section2 > p{
    width: 852px;
    font-size: 16px;
    color: #0D1321;
    line-height: 26px;
}
.section2 > button{
    background-color: #0D1321;
    color: #FFFFFF;
    padding: 21px 24px 21px 24px;
    border-radius: 8px;
    font-size: 20px;
}




